* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.navbar {
  background: #2563eb;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

.posts {
  display: grid;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 10px;
}